@font-face {
  font-family: "font-light";
  src: url("/assets/fonts/neutrif/font-light.woff2") format("woff2"),
    url("/assets/fonts/neutrif/font-light.otf") format("otf");
    font-display: swap;
}
@font-face {
  font-family: "font-regular";
  src: url("/assets/fonts/silka/font-regular.woff2") format("woff2"),
    url("/assets/fonts/silka/font-regular.woff") format("woff");
}

@font-face {
  font-family: "font-medium";
  src: url("/assets/fonts/silka/font-medium.woff2") format("woff2"),
    url("/assets/fonts/silka/font-medium.woff") format("woff");
}

@font-face {
  font-family: "font-bold";
  src: url("/assets/fonts/silka/font-bold.woff2") format("woff2"),
    url("/assets/fonts/silka/font-bold.woff") format("woff");
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');