<!-- blog-loop.njk -->
<li class="{{ class_name }}">
  <a class="w-100" href="{{ post.url }}" aria-label="Leer el artículo completo: {{ post.data.title }}">
      <article class="mb-24">
          <div class="article-img rad-24 ar-21-9 bg-white align-center">
   

            {% if post.data.image %}
            <img class="" width="100%" height="100%" src="{{ global.imageDir }}{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="h1">
          {% else %}
            <div class="fluid-9-b">Boilerplate titulo</div>
          {% endif %}


          </div>

          <div class="article-text mt-24">
              <h3 class="fluid-8-r"><a href="{{ post.url }}" aria-label="Leer artículo: {{ post.data.title }}">{{ post.data.title }}</a></h3>
              <h3 class="fluid-9-r"><a href="{{ post.url }}" aria-label="Leer artículo: {{ post.data.subtitle }}">{{ post.data.subtitle }}</a></h3>

              {% for tag in post.data.tags %}
              <div class=" tag-info ">
                {{ tag }}
              </div>
              {% endfor %}
              <p class="mb-24">{{ post.data.description }}</p>
              <a href="{{ post.url }}" class="btn link-line" aria-label="Leer más sobre {{ post.data.title }}">Leer más</a>
          </div>
      </article>
  </a>
</li>
