<!-- imagecentral.njk -->

<div class="rotation-x hidden">
  <!-- Aquí se mostrarán las propiedades del modelo 3D y la cámara -->
  <span id="rotation-value">Rotación X: 0</span>
  <span id="scale-value">Escala: 1</span>
  <span id="position-value">Posición: (0, 0, 0)</span>
  <span id="camera-position-value">Posición de la Cámara: (0, 0, 0)</span>
  <span id="camera-rotation-value">Rotación de la Cámara: (0, 0, 0)</span>
</div>

<div id="3delement" class="inview p-relative inview80" style="height: 100vh;">

<div class="minibox">
  <div class="minibox-content gradient-lila mt-64">
    <div class="title-l-m mb-16"> {{ global_index.3delement_0 }}</div>
    <p class="title-l"> {{ global_index.3delement_0_content }}</p>
  </div>
</div>
<div class="minibox">
  <div class="minibox-content gradient-gris mt-64 ">
       <div class="title-l-m mb-16">{{ global_index.3delement_1 }}</div>
    <p class="title-l"> {{ global_index.3delement_1_content }}</p>
  </div>
</div>
<div class="minibox">
  <div class="minibox-content gradient-lila mt-64">
       <div class="title-l-m mb-16"> {{ global_index.3delement_2 }}</div>
    <p class="title-l"> {{ global_index.3delement_2_content }}</p>
  </div>
</div>
<div class="minibox">
  <div class="minibox-content gradient-verde">
       <div class="title-l-m mb-16"> {{ global_index.3delement_3 }}</div>
    <p class="title-l"> {{ global_index.3delement_3_content }}</p>
  </div>
</div>
<div class="minibox">
  <div class="minibox-content gradient-gris">
       <div class="title-l-m mb-16">  {{ global_index.3delement_4 }}</div>
    <p class="title-l"> {{ global_index.3delement_4_content }}</p>
  </div>
</div>
<div class="minibox">
  <div class="minibox-content gradient-amarillo">
         <div class="title-l-m mb-16"> {{ global_index.3delement_5 }}</div>
      <p class="title-l"> {{ global_index.3delement_5_content }}</p>
  </div>
</div>

<div class="imagecentral">
  <img src="/assets/static/images/scroll-phone-2.png" alt="imagecentral">
</div>

</div>


