<!-- unires_1.njk -->

<section class="ptr-120 pbr-120 front-section o-hidden inview" data-scroll-section>

  <div class="container mx-auto ">
    <div class="row mb-32 text-center inview">
      <div class="col-xs-12">
  
        <div class="fluid-4-m mb-24">
      

          {{ insert.splitenpalabras3(global_index.unires_1_content | safe ) }}

        </div>
        <div class="text-18-r mb-24">
          {{global_index.unires_1_subtitle}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-6">

 
 
            <img width="100%" class="ukiyo ar-3-2 box-grey" data-speed="1.2" src="/assets/static/images/phone-2.png" alt="unires_1_1" />
    
   

      </div>
      <div class="col-xs-12 col-lg-6">


<div class="is-flex mb-32">
  <div class="number-grey">01</div>

   <div class="mt-8 ml-8">
    <h6 class="mb-8">Titular</h6>
    <p>dfpkfdopdk </p>
  </div>

</div>

<div class="is-flex mb-32">
  <div class="number-grey">02</div>

  <div class="mt-8 ml-8">
    <h6 class="mb-8">Titular</h6>
    <p>dfpkfdopdk </p>
  </div>

</div>

<div class="is-flex mb-32">
  <div class="number-grey">03</div>

   <div class="mt-8 ml-8">
    <h6 class="mb-8">Titular</h6>
    <p>dfpkfdopdk </p>
  </div>

</div>


   
      </div>
    </div>

  </div>
</section>