<!-- unires_1.njk -->

<section class="ptr-120 pbr-120 front-section o-hidden inview" data-scroll-section>

  <div class="container mx-auto ">
    <div class="row mb-40 text-center inview">
      <div class="col-xs-12">
  
        <div class="h1 mb-24">
      

          {{ insert.splitenpalabras3(global_index.unires_1_content | safe ) }}

        </div>
        <div class="p2 mb-24">
          {{global_index.unires_1_subtitle | safe}} 
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-6 mb-40">

 
 
            <img width="100%" class="ukiyo ar-3-2 box-grey" src="/assets/static/images/phone-2.png" alt="unires_1_1" />
    
   

      </div>
      <div class="col-xs-12 col-lg-6 ">


<div class="is-flex mb-40">
  <div class="number-grey">01</div>

   <div class="mt-8 ml-8 flex-1">
    <h6 class="mb-8 p1">Contacta con nosotros</h6>
    <p class="p3">Escríbenos o agenda una llamada. Te explicaremos cómo UniRes puede integrarse en tu centro y resolver tus retos reales de comunicación. </p>
  </div>

</div>

<div class="is-flex mb-40">
  <div class="number-grey">02</div>

  <div class="mt-8 ml-8 flex-1">
    <h6 class="mb-8 p1">Activamos tu cuenta</h6>
    <p class="p3">Configuramos la plataforma para tu residencia, con usuarios, datos y permisos personalizados.</p>
  </div>

</div>

<div class="is-flex mb-40">
  <div class="number-grey">03</div>

   <div class="mt-8 ml-8 flex-1">
    <h6 class="mb-8 p1">Te acompañamos en el camino</h6>
    <p class="p3">Formamos a tu equipo, resolvemos dudas y acompañamos 
      en el lanzamiento. Nos convertimos en tu socio, no solo 
      en tu proveedor.</p>
  </div>

</div>


   
      </div>
    </div>

  </div>
</section>