---
layout: layout/base.njk
colorHeader: has-light-menu
---

{% set seccion = 'home' %}


{% set noheroimage = [] %}
{% import global_index.base_modules+"_macros/_insert.njk" as insert %}
{% import "macros/_insert.njk" as insert %}




<div class="main-article">
  {% include 'unires/introCta_2.njk' %}


  {% include 'unires/textAppear.njk' %}
  {% include 'unires/imagecentral.njk' %}
  {% include 'unires/lateralScroll.njk' %}
  {% include 'unires/unires_1.njk' %}
  {% include 'unires/unires_2.njk' %}
 

  {# {% include "unires/contacta_1.njk" %} #}

    {% include "unires/contacta_4.njk" %}
    <div class="bg-dark-color inview80 has-light">

        

    {% include 'unires/parallaxboxes.njk' %}
    {% include 'unires/footer_3.njk' %}
  </div>


</div>



