.interior-content {


  @media (min-width: 768px) {

    height: 800vh;

  }

  @media (max-width: 768px) {
    position: relative;
    z-index: 10;
    overflow: auto;

  }

}


.boxshow-inner {
  position: relative;
  display: flex;
  flex-direction: row;

  height: 100%;
  margin: 0 auto;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;



  }

}
.boxshow-inner-img {
  display: flex;

  flex-direction: column;
  height: 100%;
  align-items: center;
  @media (min-width: 768px) {

  }
}
.lateral-scroll-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  z-index: 10;
  padding: 20px;
}
.truquibox {
  position: relative;
  border-radius: 16px;
  width: 220px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  margin-bottom: 16px;
}


.truquibox10,
.truquibox20,
.truquibox30,
.truquibox40,
.truquibox50,
.truquibox60,
.truquibox70,
.truquibox80,
.truquibox90,
.truquibox100,
.truquibox110,
.truquibox120,
.truquibox130,
.truquibox140,
.truquibox150 {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  @media (min-width: 768px) {
  opacity: 0;
  }
}

.scrolllateral {
  display: flex;
  flex-direction: row;
  width: 100%;
  @media (min-width: 768px) {
    width: 100vw;
    }
}
.boxshow1,
.boxshow2,
.boxshow3 {
  flex: 1 0 250vw;
  height: calc(100vh - 150px);
  @media (min-width: 768px) {
    flex: 1 0 100%;
    }
}
.lateral-scroll-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  z-index: 10;
  padding: 20px;
}
.interior-sticky {
  width: 1000vw;
  overflow: hidden;
  position: relative;

  z-index: 10;

  @media (min-width: 768px) {
    position: sticky;
    top: 100px;
    width: 100%;

  }

}
