<!-- footer_3.njk -->

<footer class=" front-section has-light    " data-scroll-section>
  <div class="container mx-auto  ">
    <div class="row text-12-r pt-16 pb-16 smmax:reverse ">
      <div class="col-xs-12 col-sm-6   ">
        <ul class="list-clear list-vertical p3  ">
          <li> <a href="/legal/politica-de-privacidad" aria-label="Leer la política de privacidad de UniRes">Política de Privacidad </a> </li>
          <li> <a href="/legal/aviso-legal" aria-label="Leer el aviso legal de UniRes"> Aviso Legal </a> </li>
          <li> <a href="/legal/cookies" aria-label="Leer la política de cookies de UniRes"> Política de Cookies </a> </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 text-center sm:text-right  mb-16 sm:mb-0   ">
        <div class="p3 pt-8 ">
          {{global_index.footer_3}}
        </div>
      </div>
    </div>
  </div>
</footer>