<!-- imagecentral.njk -->

<div class="container-6 mx-auto text-center mb-24">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="h4">Todo en una misma aplicación de una  forma sencilla y sobretodo transparente.  </div>  </div>

  </div>
</div>



<div class="imagecentral-wrap pbr-100">
  
  
  <div id="3delement" class=" imagecentralview inview p-relative inview80">
  
  <div class="minibox">
    <div class="minibox-content gradient-lila mt-64">
      <div class="p3 mb-16 sbold is-flex align-middle gap-8 content-sp-between"> {{ global_index.3delement_0 }} <img width="24" src="/assets/static/images/sueno.png" alt="Icono de sueño"> </div>
      <p class="p4"> {{ global_index.3delement_0_content }}</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-content gradient-gris mt-64 ">
         <div class="p3 mb-16 sbold">{{ global_index.3delement_1 }}</div>
      <p class="p4"> {{ global_index.3delement_1_content }}</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-content gradient-lila mt-64">
         <div class="p3 mb-16 sbold is-flex align-middle gap-8 content-sp-between"> {{ global_index.3delement_2 }} <img width="24" src="/assets/static/images/brain.png" alt="Icono de cerebro"></div>
      <p class="p4"> {{ global_index.3delement_2_content }}</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-content gradient-verde">
         <div class="p3 mb-16 sbold is-flex align-middle gap-8 content-sp-between"> {{ global_index.3delement_3 }} <img width="24" src="/assets/static/images/food.png" alt="Icono de comida"></div>
      <p class="p4"> {{ global_index.3delement_3_content }}</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-content gradient-gris">
         <div class="p3 mb-16 sbold">  {{ global_index.3delement_4 }} </div>
      <p class="p4"> {{ global_index.3delement_4_content }}</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-content gradient-amarillo">
           <div class="p3 mb-16 sbold is-flex align-middle gap-8 content-sp-between"> {{ global_index.3delement_5 }} <img width="24" src="/assets/static/images/fisic.png" alt="Icono de actividad física"></div>
        <p class="p4"> {{ global_index.3delement_5_content }}</p>
    </div>
  </div>
  
  <div class="imagecentral">
    <img src="/assets/static/images/scroll-phone-2.png" alt="Teléfono móvil mostrando la aplicación UniRes">
  </div>
  
  </div>
  
</div>

