<!-- unires_2.njk -->

<section class="front-section o-hidden " data-scroll-section>

  <div class="container mx-auto text-center   ">
    <div class="row  inview " >
      <div class="col-xs-12 ">
  
        <h2 class="h1 animate-word">
          {{ global_index.unires_2_content | safe }}
     
        </h2>
        <h2 class="h1 mb-24 animate-word c-green" data-delay="0.5">
          <span class="term">{{ global_index.unires_2_content2 | safe }}</span>
        </h2>
   
      </div>
    </div>



  </div>

  <div class="container-3 pbr-64 text-center">

<div class="row">
  <div class="col-xs-12">
    <div class="p2 animate-word ">
      {{global_index.unires_2_subtitle | safe | mdbr }}
    </div>
  </div>
</div>



  </div>

  <div class="container">

    <section class="unires2-layout">
      <div class="unires2-box unires2-box-a1">
        <img width="296px" height="226px"  data-speed="1.2" src="/assets/static/images/caras-1.png" alt="Personas felices usando la aplicación UniRes" />
      </div>
      <div class="unires2-box unires2-box-a2 p-16">
        <img width="250px" height="auto"  data-speed="1.2" src="/assets/static/images/minilistado.gif" alt="Lista de funcionalidades de la aplicación" />
      </div>
      <div class="unires2-box unires2-box-b">
        <img height="100%" class="ukiyo" data-speed="1.2" src="/assets/static/images/phone-3.png" alt="Teléfono móvil mostrando la interfaz de UniRes" />
      </div>
      <div class="unires2-box unires2-box-c text-center">
        <img width="100%" height="100%"  class="ukiyo" data-speed="1.2" src="/assets/static/images/phone-4.png" alt="Captura de pantalla de la aplicación UniRes" />
      </div>
    </section>
  </div>
</section>