$header-mobile: 90px;
$header-desktop: 200px;


#menu-white {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: $header-mobile;
  transition: all ease 0.3s;
  transform: translateY(-100%);


  display: flex;
  align-items: center;

}



#menu-toggle{
  display: block;
  @media (min-width: $break-md) {
    display: none;
  }
}


#menu-fixed { 

  position: fixed;

  padding-right: 20px;


  top: 0;
  right: 0;
  z-index: 100;

  a{
    color: $c-white;
  }

}

.menu-fixed-inner{

  
  display: flex;
  height: 90px;
  transition: all ease 0.3s;
  align-content: center;
  align-items: center;

  justify-content: flex-end;



}


.menu-desktop{
  display: none;
  @media (min-width: $break-md) {
    display: flex;
    align-items: center;
  
  }
}

.scrolled,.seccion-interior {
  #menu-white {
    transform: translateY(0);
  }
  #menu-fixed {
    a{
      color: $c-primary;
    }
  }
}


.menu-mobile-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.menu-mobile-wrap {
  width: 500px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 105;
  transform: translateX(100%);
  transition: all ease 0.3s;
}

.link_cierre{
  position: absolute;
  top: 20px;
  right: 20px;
}



.menu-open{

.menu-mobile-wrap{
  transform: translateX(0);
}
.menu-mobile-overlay{
  display: block;
}

}



.logo-simple{
  position: fixed;
  top: 12px;
  left: 70px;
  z-index: 1000;
  mix-blend-mode: difference;

}
.logo-heart{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}
